core/src/main/resources/xml-schemas/datlin/repository-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns="http://www.datlin.com/datlin"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.datlin.com/datlin"
    elementFormDefault="qualified"
>
    <xs:element name="repository-configuration">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="output" type="xs:string"/>
                <xs:element name="package" type="xs:string"/>
                <xs:element name="connection" type="ConnectionType"/>
                <xs:element name="table" type="TableType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="query" type="QueryType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="procedure" type="ProcedureType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="ConnectionType">
        <xs:attribute name="driver" type="ConnectionDriverType" use="required"/>
        <xs:attribute name="url" type="xs:string" use="required"/>
        <xs:attribute name="username" type="xs:string" use="required"/>
        <xs:attribute name="password" type="xs:string" use="required"/>
        <xs:attribute name="schema" type="xs:string"/>
    </xs:complexType>

    <xs:simpleType name="ConnectionDriverType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="postgres"/>
            <xs:enumeration value="mysql"/>
            <xs:enumeration value="oracle"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="TableType">
        <xs:sequence>
            <xs:element name="column" type="ColumnType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="ColumnType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="identity" type="xs:boolean"/>
        <xs:attribute name="data-type" type="ColumnDataType" use="required"/>
        <xs:attribute name="nullable" type="xs:boolean" default="false"/>
    </xs:complexType>

    <xs:simpleType name="ColumnDataType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="string"/>
            <xs:enumeration value="integer"/>
            <xs:enumeration value="uuid"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="QueryType">
        <xs:sequence>
            <xs:element name="parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="sql" type="SqlContentType"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="ParameterType">
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="type" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="string"/>
                    <xs:enumeration value="int"/>
                    <xs:enumeration value="list"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="SqlContentType" mixed="true">
        <xs:complexContent mixed="true">
            <xs:restriction base="xs:anyType">
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ProcedureType">
        <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>